<% 
  @page_title = "#{@current_subject.name}: editing question#{@question.id}" 
  @form_title = "Edit Question"
  @form_action = { :action => 'edit', :id => @question }
  @form_action_desc = 'Edit'
  @form_cancel_action = {:action => 'show', :id => @question}
%>
<%= render( :partial => 'form' ) %>

