<%
  @page_title = "#{current_subject.name}: New Question"
  @form_title = "New Question"
  @form_action = {:action => 'new'}
  @form_action_desc = 'Create'
%>
<%= render( :partial => 'form' ) %>

