<%= start_form_tag( :action => 'restart' ) %>
  <p><label for="user_username">Enter username to restart quiz</label><br/>
  <input id="user_username" name="username" value="" ></input>
  <%= submit_tag( "submit" ) %></p>
<%= end_form_tag %>
