<h1>User: <%= @user.name %></h1>
<br/>
<h2>listing quizzes</h2>
<table>
  <tr>
    <th>Quiz id</th>
    <th>Quiz name</th>
    <th></th>
  </tr>
  
  <% for quiz in @quiz %>
    <tr>
      <td><%= quiz.id %></td>
      <td><%= quiz.name %></td>
      <td><%= link_to 'Take test', :action => 'take_test', :quiz_id => quiz.id, :user_id => @user.id %></td>
    </tr>
  <% end %>
</table>
  
