<h1>User: <%= @user.id %></h1>

<h2>Quiz <%= @quiz.id %></h2>
<% for question in @questions %>
  <p><%= question.id %></p>
  <p><h3><%= question.content %></h3></p>
  <% if question.question_type == 1 %>
    <p>please select all correct answers</p>
  <% else %>
    <p>please select one correct answer</p>
  <% end %>
  <% for answer in question.answers %>
    <p><%= answer.content %></p>
  <% end %>
  <br/>
<% end %>


