<%
  @page_title = @form_title = "Create Subject"
  @form_action = {:action => 'new'}
  @form_action_desc = 'Create'
  @form_cancel_action = {:action => 'list'}
%>
<%= render_partial('form') %>
