body
{
  font-family: verdana, tahoma, arial, helvetica, sans-serif;
  line-height: 1.166;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: #e0e0e0;
}

#main
{
  min-width: 60em;
  background-color: #FFFFFF;
  border: 1px solid black;
  margin: 10px 10px 10px 10px;
  padding: 0px 0px 0px 0px;
}

#header
{
  position: relative;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background: #036;
  color: white;
  width: 100%;
  min-width: 60em;
}

#content-panel
{
  width: 100%;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  vertical-align: top;
}

#content
{
  margin: 5px 5px 5px 5px;
}

#flash 
{ 
  margin: 2px 0px 2px 0px;
  font-weight: bold;
  clear: both;
  display: block;
  position: relative;
  height: 1em;
  text-align: center;
}

#flash.alert { color: red; }

#flash { color: green; }

ul.usermenu 
{ 
  position: relative;
  display: block;
  text-align: right;
  font-size: small;
  padding: 10px 5px 5px 10px;
  margin: 0px 0px 0px 0px;
}

ul.usermenu li
{ 
  display: inline;
  margin: 0px 4px 0px 2px;
}

ul.usermenu li a, ul.usermenu li a:visited {color: white;}

ul.menu
{
  font-size: small;
  position: relative;
  clear: both;
  font-weight: bold;
  background-color: #369;
  display: block;
  min-width: 49.9em;
  clear: both;
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul.menu li
{ 
  display: inline;
  list-style: none;
}

ul.menu li a, ul.menu li a:visited
{
  float: left;
  display: block;
  width: 11em;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 0.2em 0.6em;
  border-right:1px solid white;
}

ul.menu li a.selected, ul.menu li a.selected:visited {color: white; background-color: #036;}
ul.menu li a:hover {color: white; background-color: #46525E;}
