textarea.question_content
{
  width: 100%;
  height: 160px;
}

textarea.answer_content
{
  width: 100%;
  height: 40px;
}

div.question, div.answer
{
  width: 100%;
  margin-top: 10px;
  margin: 0px 0px 0px 0px;
  _background-color: red;
}

div.question_header, div.answer_header
{
  width: 100%;
  margin: 0px 0px 0px 0px;
  _background-color: blue;
}

div.question_type, div.answer_number 
{
  float: left;
  width: 25%;
  margin: 0px 0px 0px 0px;
  _background-color: green;
}

div.question_correct_before_edit
{
  float: right;
  width: 30%;
  margin: 0px 0px 0px 0px;

div.question_options, div.answer_options
{
  float: right;
  width: 25%;
  margin: 0px 0px 0px 0px;
  _background-color: purple;
}

div.question_content, div.answer_content
{
  width: 100%;
}

div.question_display
{
  clear: both;
  border: 5px double black;
  width: 100%;
  margin: 0px 0px 0px 0px;
  min-height: 160px;
  padding: 2px;
}

td.question_cont
{
  width: 100%;
  min-height: 160px;
}

div.answer_display
{
  clear: both;
  border: 1px solid black;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 2px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors
{
  padding: 2px;
  background-color: red;
  display: inline;
}

.move_arrow
{
  border: 0;
  width: 11px;
  height: 14px;
}

#ErrorExplanation
{
  width: 400px;
  border: 2px solid 'red';
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#ErrorExplanation h2
{
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#ErrorExplanation p 
{
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#ErrorExplanation ul li
{
  font-size: 12px;
  list-style: square;
}


