.details
{
  margin: 0px 0px 10px 0px;
  padding: 0px 5px 0px 5px;
}

a, a:visited
{
  color: black;
}

div.question_options, div.answer_options
{
  float: right;
  width: 25%;
  margin: 0px 0px 0px 0px;
}

div.question_content, div.answer_content
{
  width: 100%;
}

div.question_display
{
  clear: both;
  border: 5px double black;
  width: 100%;
  margin: 0px 0px 0px 0px;
  min-height: 160px;
  padding: 2px;
}

td.question_cont
{
  width: 100%;
  min-height: 160px;
}

div.answer_display
{
  clear: both;
  border: 1px solid black;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 2px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors
{
  padding: 2px;
  background-color: red;
  display: inline;
}

.move_arrow
{
  border: 0;
  width: 11px;
  height: 14px;
}

#ErrorExplanation
{
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#ErrorExplanation h2
{
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#ErrorExplanation p 
{
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#ErrorExplanation ul li
{
  font-size: 12px;
  list-style: square;
}
div.dataset
{
  margin: 5px 5px 5px 5px;
  padding: 14px 5px 5px 5px;
  background-color: #FFFFED;
  border: 2px solid #ccc;
  position: relative;
}

div.dataset table
{
  width: 100%;
  padding: 3px;
  border-spacing: 1px;
}

div.dataset th
{
  width: 165px;
  text-align: right;
  padding-right: 20px;
  vertical-align: text-top;
}

div.dataset td
{
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

div.dataset ul
{
  width: 60%;
  text-align: left;
  padding: 0px 0px 0px 20px;
  margin: 0px 0px 0px 0px;
}

div.dataset h2
{
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: smaller;
  text-align: center;
  background-color: #EEE;
  border: 1px solid black;
  color: black;
  padding: 2px 5px;
  position: absolute;
  top: -10px;
  left: 5px;
  width: 12em;
}

div.time
{
  font-weight: bold;
  font-size: smaller;
  text-align: center;
  background-color: #EEE;
  border: 1px solid black;
  color: black;
  padding: 2px 5px;
  position: absolute;
  top: -10px;
  right: 15px;
  width: 12em;
}

div.dataset_question
{
  margin: 10px 0px 0px 0px;
  padding: 8px 5px 8px 5px;
  background-color: white;
  border: 1px solid #000;
}

div.dataset_answer
{
  margin: 2px 2px 2px 2px;
  padding: 8px 5px 8px 5px;
  background-color: white;
  border: 1px solid #000;
  margin-left: 0;
}

table.answers
{
  margin: 0;
  padding: 0;
  width: 100%;
  border: 1px solid #000;
}

table.answers td.cb
{
  margin: 2px 2px 2px 0px;
  padding: 8px 5px 8px 5px;
  width: 15px;
}

div.dataset li.answer_true
{
  list-style-image: url(../images/icons/tick.gif);
}

div.dataset li.answer_false
{
  list-style-image: url(../images/icons/cross.gif);
}

div.dataset input.textfield, input.login
{
  width: 250px;
}

div.dataset textarea.area_description
{
  width: 250px;
  height: 100px;
}

div.dataset textarea.resource_description
{
  width: 275px;
  height: 100px;
}

div.dataset textarea.address_area
{
  width: 250px;
  height: 200px;
}

div.dataset select.login
{
  width: 255px;
}

table.xlist ul
{
  margin: 0;
}

#list_view table.header
{
  width: 100%;
  margin: 0;
  padding: 0;
}

#list_view table.header td.search p
{
  margin: 0;
}

#list_view table.header td.search
{  
  padding: 0;
  width: 220px;
}

#list_view table.header td.search form
{
  margin: 0;
}

#list_view table.change_page
{
  margin: 2px 2px 2px 0px;
  padding: 0px 0px 0px 0px;
  border: 1px solid black;
  width: 100%;
}

#list_view table.change_page td
{
  font-size: small;
}

#list_view table.change_page td.beforearrows, td.afterarrows
{
  width: 25%;
}

#list_view table.change_page img.arrows
{
  margin: 1px 3px 0px 0px;
  border: 0;
  width: 14px;
  height: 14px;
  outline-style: none;
  vertical-align: middle;
}

table.options
{
  margin: 2px 2px 2px 0px;
  padding: 0px 0px 0px 0px;
  border: 1px solid black;
  width: 100%;
  font-size: small;
}

table.options td.firstcolumn, td.lastcolumn
{
  width: 25%;
}

table.options td.stats
{
  width: 250px;
}

table.options .arrows:hover { color: #666; background-color: white;}


.first-arrow
{
  background-image: url(../images/icons/first-arrow.png);
}

.first-arrow-greyed
{
  color: grey;
  background-image: url(../images/icons/first-arrow-greyed.png);
}

.previous-arrow
{
  background-image: url(../images/icons/previous-arrow.png);
}

.previous-arrow-greyed
{
  color: grey;
  background-image: url(../images/icons/previous-arrow-greyed.png);
}

.last-arrow
{
  background-image: url(../images/icons/last-arrow.png);
}

.last-arrow-greyed
{
  color: grey;
  background-image: url(../images/icons/last-arrow-greyed.png);
}

.next-arrow
{
  background-image: url(../images/icons/next-arrow.png);
  
}

.next-arrow-greyed
{
  color: grey;
  background-image: url(../images/icons/next-arrow-greyed.png);
}

.arrows
{
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: small;
  text-decoration: none;
}

#list_view table.change_page .arrows:hover { color: #666; background-color: white;}
#list_view table.header td.action a:visited { color: black;}
#list_view table.header td.action a:hover { color: white; background-color: black; }

table.xlist
{
  border: 1px solid black;
  margin: 0;
  padding: 0;
  width: 100%;
}

table.xlist td
{
  font-size: small; 
  padding: 2px 4px 1px 6px;
  margin: 0;
}

table.xlist tr.even
{
  margin: 0;
  padding: 0;
  background-color: #EEE;
}

table.xlist tr.odd
{
  background-color: #FFFFED;
}

table.xlist a, table.xlist a:visited
{
  color: black;
}

table.xlist a:hover
{
  color: white;
  background-color: black;
}

table.xlist th
{ 
  margin: 0;
  padding: 4px 4px 4px 4px;
  background-color: #036;
  color: white;
  font-weight: bold;
  font-size: x-small; 
  vertical-align: top;
}

table.xlist li
{
  list-style-type: disc;
  list-style-position: inside;
}

#teachers_quiz_item__list #order-column, #question-column
{
  width: 80px;
}

#teachers_quiz_item__list #on_test-column, #teachers_quiz__list_questions #question_type-column
{
  width: 120px;
}

#teachers_quiz__list_questions #question-column
{
  width: 80px;
}

#admins_user__list #admin-column
{
  width: 80px;
}

#operations-column
{
  width: 215px;
}

#teachers_quiz_item__list #operations-column
{
  width: 250px;
}

#teachers_quiz__list #operations-column, #admins_user__list #operations-column
{
  width: 300px;
}
