
div.dataset
{
  margin: 5px 5px 5px 5px;
  padding: 14px 5px 5px 5px;
  background-color: #FFFFED;
  border: 2px solid #ccc;
  position: relative;
}

div.dataset h2
{
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: smaller;
  background-color: #EEE;
  border: 1px solid black;
  color: black;
  padding: 2px 5px;
  position: absolute;
  top: -10px;
  left: 5px;
  width: 12em;
}

div.dataset_question
{
  margin: 10px 0px 0px 0px;
  padding: 8px 5px 8px 5px;
  background-color: white;
  border: 1px solid #000;
  position: relative;
}

div.dataset_answer
{
  margin: 2px 2px 2px 2px;
  padding: 8px 5px 8px 5px;
  background-color: white;
  border: 1px solid #000;
  position: relative;
}

table.answers
{
  margin: 0;
  padding: 0;
  width: 100%;
  border: 1px solid #000;
}

table.answers td.cb
{
  margin: 2px 2px 2px 2px;
  padding: 8px 5px 8px 5px;
  width: 20px;
}

table.xlist
{
  border: 1px solid black;
  margin: 0;
  padding: 0;
  width: 100%;
}

table.xlist td
{
  font-size: small; 
  padding: 2px 4px 1px 6px;
  margin: 0;
}

table.xlist tr.even
{
  margin: 0;
  padding: 0;
  background-color: #EEE;
}

table.xlist tr.odd
{
  background-color: #FFFFED;
}

table.xlist th
{ 
  margin: 0;
  padding: 4px 4px 4px 4px;
  background-color: #036;
  color: white;
  font-weight: bold;
  font-size: x-small; 
  text-align: top;
  vertical-align: top;
}

