
div.dataset
{
  margin: 5px 5px 5px 5px;
  padding: 14px 5px 5px 5px;
  background-color: #FFFFED;
  border: 2px solid #ccc;
  position: relative;
}

div.dataset table
{
  width: 100%;
  padding: 3px;
  border-spacing: 1px;
}

div.dataset th
{
  width: 40%;
  text-align: right;
  padding-right: 20px;
  vertical-align: text-top;
}

div.dataset td
{
  width: 60%;
  text-align: left;
  padding-left: 20px;
}

div.dataset ul
{
  width: 60%;
  text-align: left;
  padding: 0px 0px 0px 20px;
  margin: 0px 0px 0px 0px;
}

div.dataset h2
{
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: smaller;
  background-color: #EEE;
  border: 1px solid black;
  color: black;
  padding: 2px 5px;
  position: absolute;
  top: -10px;
  left: 5px;
  width: 12em;
}

div.dataset_question
{
  margin: 10px 0px 0px 0px;
  padding: 8px 5px 8px 5px;
  background-color: white;
  border: 1px solid #000;
  position: relative;
}

div.dataset_answer
{
  margin: 2px 2px 2px 2px;
  padding: 8px 5px 8px 5px;
  background-color: white;
  border: 1px solid #000;
  position: relative;
}

#list_view table.header
{
  width: 100%;
}

#list_view table.header td.action
{
}

#list_view table.header td.search
{  
  padding: 0;
  width: 220px;
}

#list_view table.header td.search form
{
  margin: 0;
}

#list_view table.change_page
{
  margin: 2px 2px 2px 0px;
  padding: 0px 0px 0px 0px;
  xxbackground-color: blue;
  border: 1px solid black;
  width: 100%;
}

#list_view table.change_page td
{
  font-size: small;
  xxbackground-color: pink;
}

#list_view table.change_page td.beforearrows, td.afterarrows
{
  width: 25%;
}

#list_view table.change_page img.arrows
{
  margin: 1px 3px 0px 0px;
  border: 0;
  width: 14px;
  height: 14px;
  outline-style: none;
  vertical-align: middle;
}

table.options
{
  margin: 2px 2px 2px 0px;
  padding: 0px 0px 0px 0px;
  xxbackground-color: blue;
  border: 1px solid black;
  width: 100%;
  font-size: small;
}

table.options td.firstcolumn, td.lastcolumn
{
  width: 25%;
}

table.options td.stats
{
  width: 250px;
}


table.options .arrows:hover { color: #666; background-color: white;}


.first-arrow
{
  background-image: url(../images/icons/first-arrow.png);
}

.first-arrow-greyed
{
  color: grey;
  background-image: url(../images/icons/first-arrow-greyed.png);
}

.previous-arrow
{
  background-image: url(../images/icons/previous-arrow.png);
}

.previous-arrow-greyed
{
  color: grey;
  background-image: url(../images/icons/previous-arrow-greyed.png);
}

.last-arrow
{
  background-image: url(../images/icons/last-arrow.png);
}

.last-arrow-greyed
{
  color: grey;
  background-image: url(../images/icons/last-arrow-greyed.png);
}

.next-arrow
{
  background-image: url(../images/icons/next-arrow.png);
  
}

.next-arrow-greyed
{
  color: grey;
  background-image: url(../images/icons/next-arrow-greyed.png);
}

.arrows
{
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: small;
  text-decoration: none;
}

#list_view table.change_page .arrows:hover { color: #666; background-color: white;}

table.answers
{
  margin: 0;
  padding: 0;
  width: 100%;
  border: 1px solid #000;
}

table.answers td.cb
{
  margin: 2px 2px 2px 2px;
  padding: 8px 5px 8px 5px;
  width: 20px;
}

table.xlist
{
  border: 1px solid black;
  margin: 0;
  padding: 0;
  width: 100%;
}

table.xlist td
{
  font-size: small; 
  padding: 2px 4px 1px 6px;
  margin: 0;
}

table.xlist tr.even
{
  margin: 0;
  padding: 0;
  background-color: #EEE;
}

table.xlist tr.odd
{
  background-color: #FFFFED;
}

table.xlist th
{ 
  margin: 0;
  padding: 4px 4px 4px 4px;
  background-color: #036;
  color: white;
  font-weight: bold;
  font-size: x-small; 
  vertical-align: top;
}

