<h1>Editing question</h1>


<%= start_form_tag(:action => 'edit', :id => @question) %>
  <%= render( :partial => 'form' ) %>
  <p>
  <button type="submit">Edit</button>
  <%= link_to_button("Cancel", {:action => 'show', :id => @question.id}) %>
  </p>
<%= end_form_tag %>

