<h1>Welcome <%= @user.name %></h1>
<br/>
<p>
  <%= link_to( "Past Quizzes", :controller => 'results', :action => 'index' ) %>
</p>
<p>
  <%= link_to( "Current Quizzes", :controller => 'quiz_attempt', :action => 'intro' ) %>
</p>
<p>
  <%= link_to( "Preview Quizzes", :controller => 'preview_quiz', :action => 'intro' ) %>
</p>
