<%= error_messages_for 'answer' %>

<!--[form:answer]-->
<p><label for="answer_content">Content</label><br/>
<%= text_area 'answer', 'content'  %></p>

<p><label for="answer_is_correct">Is correct</label><br/>
<select id="answer_is_correct" name="answer[is_correct]"><option value="false" selected>False</option><option value="true">True</option></select></p>
<!--[eoform:answer]-->

