<%
  @page_title = @form_title = "Edit Room"
  @form_action = {:action => 'edit', :id => @room.id}
  @form_action_desc = 'Save'
  @form_cancel_action = {:action => 'show', :id => @room}
%>
<%= render_partial('form') %>
