<h1>Listing rooms</h1>

<table>
  <tr>
    <th>Room Name</th>
    <th>Operations</th>
  </tr>
  <% for room in @rooms %>
    <tr>
      <td><%= link_to( "#{room.name}", :action => 'show', :id => room.id ) %></td>
      <td>
       <%= link_to( 'delete', {:action => 'destroy', :id => room }, :confirm => 'Are you sure?' ) %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to( 'New Room', :action => 'new' ) %>
