<% @page_title = "Browse Room '#{@room.name}'" %>
<div class="dataset">
  <h2>Details</h2>
<table>
  <tr><th>Name</th><td><%= @room.name %></td></tr>
  <tr>
    <th>Computers</th>
    <td>
      <ul>
      <% for computer in @room.computers %>
        <li><%= computer.ip_address %></li>
      <% end %>
      </ul>
    </td>
  </tr>
</table>
<%= link_to_button( 'Edit', :action => 'edit', :id => @room ) %>
</div>
