<% @page_title = "Browse Room '#{@room.name}'" %>
<table>
  <tr><th>Name</th><td><%= @room.name %></td></tr>
  <tr>
    <th>Computers</th>
    <td>
      <ul>
  <% for computer in @room.computers %>
        <li><%= computer.ip_address %></li>
  <% end %>
      </ul>
    </td>
  </tr>
</table>
<%= link_to( 'Edit', :action => 'edit', :id => @room ) %>
    
