<% @page_title = "#{@current_subject.name}: Editing #{@quiz.name}" %>
<h1>Editing quiz</h1>

<%= start_form_tag( :action => 'edit', :id => @quiz ) %>
  <%= render( :partial => 'form' ) %>
  <%= submit_tag( 'Submit' ) %>
<%= end_form_tag %>

<%= link_to( 'Back', :action => 'show', :id => @quiz ) %>

