<%
  @page_title = @form_title = "#{@current_subject.name}: Editing #{@quiz.name}" 
  @form_action = { :action => 'edit', :id => @quiz }
  @form_action_desc = 'Save'
%>
<%= render_partial('form') %>
<%= link_to( 'Back', :action => 'show', :id => @quiz ) %>
