<%
  @page_title = "#{@current_subject.name}: Editing #{@quiz.name}"
  @form_title = "Edit Quiz"
  @form_action = { :action => 'edit', :id => @quiz }
  @form_action_desc = 'Save'
  @form_cancel_action = { :action => 'show', :id => @quiz }
%>
<%= render_partial('form') %>
