<%
  @page_title = "#{current_subject.name}: Create Quiz"
  @form_title = "Create Quiz"
  @form_action = {:action => 'new'}
  @form_action_desc = 'Create'
  @form_cancel_action = {:action => 'list'}
%>
<%= render( :partial => 'form' ) %>
