<% if @quizzes.length == 0 %>
  <h1>No previews yet available</h1>
<% else %>
  <h2>Preview Quizzes</h2>
  <table>
    <tr>
      <th>Quiz id</th>
      <th>Quiz name</th>
    </tr>
  
    <% for quiz in @quizzes %>
      <tr>
        <td><%= quiz.id %></td>
        <td><%= link_to("#{quiz.name}", :action => 'show', :id => quiz.id) %></td>
      </tr>
    <% end %>
  </table>
<% end %>
