<%= error_messages_for 'subject' %>

<!--[form:subject]-->
<p><label for="subject_code">Subject code</label><br/>
<%= text_field 'subject', 'code'  %></p>

<p><label for="subject_name">Subject name</label><br/>
<%= text_field 'subject', 'name'  %></p>
<!--[eoform:subject]-->

