<% @question = @quiz_response.question %>
<h3>Question <%= @quiz_response.position %></h3>
<%= start_form_tag( {:action => 'show',
                     :quiz_response_position => @quiz_response.position, 
                     :quiz_attempt_id => @quiz_response.quiz_attempt_id },
                    {:id => 'show_form'} ) %>

  <%= render( :partial => 'form' ) %>
  <%= submit_tag( "submit question" ) %>
<%= end_form_tag %>
