<% @page_title = "#{current_subject.name}: Browse Quizzes" %>
<h1>Browse Quizzes for <%= current_subject.name %></h1>
<table>
  <tr>
    <th>Name</th>
 <!--   <th>Enabled?</th> -->
    <th>Status</th>
    <th>Operations</th>
  </tr>
  <% for quiz in @quizzes %>
    <tr>
      <td><%= quiz.name %></td>
  <!--    <td><%= quiz.enable? %></td>  -->
      <td>TODO</td>
      <td><%= link_to( 'View', :action => 'show', :id => quiz.id ) %></td>
    </tr>
  <% end %>
</table>
