<html>
<head>
  <title>Question: <%= controller.action_name %></title>
  <%= stylesheet_link_tag( 'napts' ) %>
</head>
<body>

<p style="color: red"><%= flash[:alert] %></p>
<p style="color: green"><%= flash[:notice] %></p>

<%= @content_for_layout %>

</body>
</html>
